<div class='gg-epanel__head'><span class='gg-epanel__eyebrow' data-gg-copy='panel.post.interests'>Interests</span>  </div>
<div class=""><span class="material-symbols-rounded" aria-hidden="true">interests</span><span class="" data-gg-copy='panel.post.interests'>Interests</span></div>

<div id="gg-labeltree-post" class="gg-lt gg-labeltree" data-gg-module="labeltree" data-gg-labeltree="post" data-max-posts="10">
  
  <ul class="gg-lt__tree" role="tree" aria-label="Label tree"></ul>
</div>

<div class='gg-epanel__head'>
                  <span class='gg-epanel__eyebrow' data-gg-copy='panel.post.interests'>Interests</span>
                </div>
                <div>
                  <span aria-hidden='true' class='material-symbols-rounded'>interests</span>
                  <span data-gg-copy='panel.post.interests'>Interests</span>
                </div>
                <div class='gg-lt gg-labeltree' data-gg-labeltree='post' data-gg-module='labeltree' data-max-posts='10' id='gg-labeltree-post'>
                  <ul aria-label='Label tree' class='gg-lt__tree' role='tree'/>
                </div>
              </div>
              
              <div class='gg-sb__top gg-blog-sidebar__section gg-panelcard' id='gg-left-sb-top-list'>
    <div class='widget-content'>
      <div class='gg-epanel__head'>
        <span class='gg-epanel__eyebrow' data-gg-copy='panel.post.interests'>Interests</span>
      </div>
      <div>
        <span aria-hidden='true' class='material-symbols-rounded'>interests</span>
        <span data-gg-copy='panel.post.interests'>Interests</span>
      </div>
      <div class='gg-lt gg-labeltree' data-gg-labeltree='home' data-gg-module='labeltree' data-max-posts='10' id='gg-labeltree-home'>
        <ul aria-label='Label tree' class='gg-lt__tree' role='tree'/>
      </div>
    </div>
  </div>
  
  <footer>
    <div>
      <a aria-label='Library' class='gg-lang-switcher__toggle' data-gg-copy-aria='nav.library' href='/p/library.html'>
        <span class='gg-lang-switcher__current' data-gg-copy='nav.library'>Library</span>
        <span aria-hidden='true' class='gg-icon material-symbols-rounded'>bookmarks</span>
      </a>
    </div>

    <div>
      <a aria-label='Portfolio' class='gg-lang-switcher__toggle' data-gg-copy-aria='nav.portfolio' href='/search/label/Portfolio'>
        <span class='gg-lang-switcher__current' data-gg-copy='nav.portfolio'>Portfolio</span>
        <span aria-hidden='true' class='gg-icon material-symbols-rounded'>work</span>
      </a>
    </div>

    <div>
      <a aria-label='Online Store' class='gg-lang-switcher__toggle' data-gg-copy-aria='nav.store' href='/search/label/Store'>
        <span class='gg-lang-switcher__current' data-gg-copy='nav.store'>Online Store</span>
        <span aria-hidden='true' class='gg-icon material-symbols-rounded'>shopping_bag</span>
      </a>
    </div>

    <div aria-label='Select language' class='gg-lang-switcher' data-gg-copy-aria='lang.switcher.open'>
      <button aria-controls='gg-lang-switcher-menu--list' aria-expanded='false' class='gg-lang-switcher__toggle' data-gg-lang-toggle='true' type='button'>
        <span class='gg-lang-switcher__current' data-gg-copy='lang.current' data-gg-lang-current='true'>English</span>
        <span aria-hidden='true' class='gg-icon material-symbols-rounded'>language</span>
      </button>

      <div class='gg-lang-switcher__menu' hidden='hidden' id='gg-lang-switcher-menu--list' role='listbox'>
        <button aria-selected='true' class='gg-lang-switcher__option' data-gg-lang-code='id' data-gg-lang-option='true' role='option' type='button'>
          <span class='gg-lang-switcher__option-name' data-gg-copy='lang.option.id'>Bahasa Indonesia</span>
        </button>
        <button aria-selected='false' class='gg-lang-switcher__option' data-gg-lang-code='en' data-gg-lang-option='true' role='option' type='button'>
          <span class='gg-lang-switcher__option-name' data-gg-copy='lang.option.en'>English</span>
        </button>
      </div>
    </div>
     <div aria-label='Follow PakRPP' class='gg-leftnav__socialbar' role='region'>
                <div aria-label='Social links' class='gg-leftnav__sociallinks' role='list'>
                  <a aria-label='Facebook: pakrpp' class='gg-leftnav__sociallink' href='https://www.facebook.com/pakrpp' rel='noopener noreferrer me' role='listitem' target='_blank'>
                    <svg aria-hidden='true' focusable='false' viewBox='0 0 24 24'><path d='M14 8h3V5h-3c-2.2 0-4 1.8-4 4v2H8v3h2v5h3v-5h3l1-3h-4V9c0-.55.45-1 1-1z'/></svg>
                  </a>
                  <a aria-label='X: pakrpp' class='gg-leftnav__sociallink' href='https://x.com/pakrpp' rel='noopener noreferrer me' role='listitem' target='_blank'>
                    <svg aria-hidden='true' focusable='false' viewBox='0 0 24 24'><path d='M18.9 3H22l-6.9 7.9L23 21h-6.2l-4.9-6.2L6.4 21H3.3l7.4-8.5L3 3h6.3l4.4 5.7L18.9 3zm-1.1 16h1.7L8.3 4.9H6.5L17.8 19z'/></svg>
                  </a>
                  <a aria-label='Instagram: pakrpp' class='gg-leftnav__sociallink' href='https://www.instagram.com/pakrpp/' rel='noopener noreferrer me' role='listitem' target='_blank'>
                    <svg aria-hidden='true' focusable='false' viewBox='0 0 24 24'><path d='M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm0 2A3.75 3.75 0 0 0 4 7.75v8.5A3.75 3.75 0 0 0 7.75 20h8.5A3.75 3.75 0 0 0 20 16.25v-8.5A3.75 3.75 0 0 0 16.25 4h-8.5zm8.75 1.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5zM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6z'/></svg>
                  </a>
                  <a aria-label='YouTube: pakrpp' class='gg-leftnav__sociallink' href='https://www.youtube.com/@pakrpp' rel='noopener noreferrer me' role='listitem' target='_blank'>
                    <svg aria-hidden='true' focusable='false' viewBox='0 0 24 24'><path d='M21.6 7.2a2.9 2.9 0 0 0-2-2C17.8 4.7 12 4.7 12 4.7s-5.8 0-7.6.5a2.9 2.9 0 0 0-2 2A30 30 0 0 0 1.9 12c0 1.6.2 3.2.5 4.8a2.9 2.9 0 0 0 2 2c1.8.5 7.6.5 7.6.5s5.8 0 7.6-.5a2.9 2.9 0 0 0 2-2c.3-1.6.5-3.2.5-4.8 0-1.6-.2-3.2-.5-4.8zM10 15.3V8.7l5.7 3.3-5.7 3.3z'/></svg>
                  </a>
                  <a aria-label='TikTok: pakrpp' class='gg-leftnav__sociallink' href='https://www.tiktok.com/@pakrpp' rel='noopener noreferrer me' role='listitem' target='_blank'>
                    <svg aria-hidden='true' class='gg-ic' focusable='false' height='18' width='18'><use href='#gg-ic-tt-line'/></svg>
                  </a>
                  <a aria-label='LinkedIn: pakrpp' class='gg-leftnav__sociallink' href='https://www.linkedin.com/in/pakrpp/' rel='noopener noreferrer me' role='listitem' target='_blank'>
                    <svg aria-hidden='true' class='gg-ic' focusable='false' height='18' width='18'><use href='#gg-ic-li-line'/></svg>
                  </a>
                </div>
              </div>
              <div class='gg-footer__legal'><span>Copyright &#169; 2026 PakRPP.</span><span> All rights reserved.</span></div>
  </footer>