<div class='gg-info-panel__card gg-editorial-preview gg-epanel' hidden='hidden'>
      <div class='gg-epanel__head' data-row='head' hidden='hidden'>
        <span class='gg-epanel__eyebrow'/>
      </div>
      <div class='gg-epanel__media' data-gg-marker='panel-listing-thumbnail' data-row='thumbnail' hidden='hidden'>
        <img alt='' class='gg-info-panel__thumb-img'/>
      </div>

      <div class='gg-epanel__body gg-info-panel__details'>
        <dl class='gg-epanel__rows'>
          <div class='gg-epanel__row' data-row='title' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <a data-s='title' href='#'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='author' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <a data-s='author-link' href='#'>
                  <span data-s='author'/>
                </a>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='contributors' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <div class='gg-chip-row gg-epanel__chips' data-gg-slot='contributors'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='labels' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <div class='gg-chip-row gg-epanel__chips' data-gg-slot='labels'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='tags' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <div class='gg-chip-row gg-epanel__chips' data-gg-slot='tags'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='date' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <span data-s='date'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='updated' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <span data-s='updated'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='comments' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <span data-s='comments'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='readtime' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <span data-s='readtime'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='snippet' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <span data-s='snippet'/>
              </dd>
            </div>
          </div>
          <div class='gg-epanel__row' data-row='toc' hidden='hidden'>
            <span aria-hidden='true' class='gg-icon gg-epanel__icon'/>
            <div class='gg-epanel__cell'>
              <dt class='gg-epanel__label'/>
              <dd class='gg-epanel__value'>
                <div class='gg-epanel__value--toc'>
                  <ol class='gg-info-panel__toclist' data-gg-slot='toc'/>
                  <p class='gg-info-panel__tochint' data-gg-slot='toc-hint'/>
                  <ol data-gg-slot='toc'/>
<p data-gg-slot='toc-hint'/>
                </div>
              </dd>
            </div>
          </div>
        </dl>
      </div>
      <div class='gg-epanel__foot' data-row='cta' hidden='hidden'>
        <a class='gg-epanel__cta' href='#'>
          <span aria-hidden='true' class='gg-icon material-symbols-rounded'/>
          <span class='gg-epanel__cta-label'/>
          <span data-s='cta'/>
        </a>
      </div>
    </div>
  <div aria-hidden='true' class='gg-visually-hidden' data-gg-preview-contract='toc'>
    <ol data-gg-slot='toc'/>
    <p data-gg-slot='toc-hint'/>
  </div>
  <div aria-hidden='true' class='gg-visually-hidden' data-gg-epanel='editorial' data-gg-marker='panel-listing-editorial' data-gg-panelmeta='listing' data-gg-preview-contract='panel-meta'>
    <span data-gg-marker='panel-listing-title' data-row='title' data-s='title'/>
    <span data-gg-marker='panel-listing-thumbnail' data-row='thumbnail'/>
    <span data-gg-marker='panel-listing-author' data-row='author' data-s='author'/>
    <div data-gg-marker='panel-listing-contributor' data-gg-slot='contributors' data-row='contributors'/>
    <div data-gg-marker='panel-listing-labels' data-gg-slot='labels' data-row='labels'/>
    <div data-gg-marker='panel-listing-tags' data-gg-slot='tags' data-row='tags'/>
    <span data-gg-marker='panel-listing-date' data-row='date' data-s='date'/>
    <span data-gg-marker='panel-listing-updated' data-row='updated' data-s='updated'/>
    <span data-gg-marker='panel-listing-comments' data-row='comments' data-s='comments'/>
    <span data-gg-marker='panel-listing-reading-time' data-row='readtime' data-s='readtime'/>
    <span data-gg-marker='panel-listing-snippet' data-row='snippet' data-s='snippet'/>
    <ol data-gg-marker='panel-listing-toc' data-gg-slot='toc' data-row='toc'/>
    <a data-gg-marker='panel-listing-cta' data-row='cta' data-s='cta' href='#'/>
  </div>
    </b:if>
  </div>

  <b:if cond='data:view.isMultipleItems'>
    <b:section class='gg-blog-sidebar__section' id='gg-right-sidebar-list' name='Right Sidebar (List)' showaddelement='true'/>
  </b:if>

  <b:if cond='data:view.isSingleItem and data:view.isPost'>
    <b:section class='gg-blog-sidebar__section' id='gg-right-sidebar-post' name='Right Sidebar (Post)' showaddelement='true'/>
  </b:if>

  <b:if cond='data:view.isPage'>
    <b:section class='gg-blog-sidebar__section-page' id='gg-right-sidebar-page' name='Right Sidebar (Page)' showaddelement='true'/>
  </b:if>
</aside>
 </b:if>

<!-- /GAGA SIDEBAR RIGHT -->


  </div>
</section>