<div aria-hidden='true' class='gg-share-sheet' id='gg-share-sheet'>
  <div aria-hidden='true' class='gg-share-sheet__overlay'/>
  <div aria-labelledby='ggShareTitle' aria-modal='true' class='gg-share-sheet__panel' role='dialog' tabindex='-1'>
    <div class='gg-share-sheet__bg'/>
    <button aria-label='Close' class='gg-share-sheet__close-btn' data-gg-copy-aria='global.close' type='button'>
      <span aria-hidden='true' class='gg-icon material-symbols-rounded'>close</span>
    </button>
    <div class='gg-share-sheet__head' data-gg-copy='share.title' id='ggShareTitle' tabindex='-1'>Share</div>

    <div class='gg-share-sheet__canvas'>
      <canvas aria-label='Share poster preview' data-gg-copy-aria='share.preview.aria' id='gg-share-canvas'/>
    </div>

    <div class='gg-share-sheet__modes' role='tablist'>
      <button aria-selected='true' class='gg-share-sheet__mode-btn' data-gg-copy='share.mode.author' data-gg-state='active' data-mode='author' type='button'>Author</button>
      <button aria-selected='false' class='gg-share-sheet__mode-btn' data-gg-copy='share.mode.title' data-mode='title' type='button'>Title</button>
      <button aria-selected='false' class='gg-share-sheet__mode-btn' data-gg-copy='share.mode.quote' data-mode='quote' type='button'>Quote</button>
    </div>

    <button class='gg-share-sheet__cta' data-role='gg-share-cta' type='button'>
      <span aria-hidden='true' class='gg-share-sheet__cta-icon gg-share-sheet__cta-icon--idle'>
        <svg aria-hidden='true' class='gg-icon__svg'><use href='#gg-ic-share-line'/></svg>
      </span>
      <span aria-hidden='true' class='gg-share-sheet__cta-icon gg-share-sheet__cta-icon--loading' style='display:none'>
        <svg aria-hidden='true' class='gg-icon__svg'><use href='#gg-ic-loader-line'/></svg>
      </span>
      <span aria-hidden='true' class='gg-share-sheet__cta-icon gg-share-sheet__cta-icon--done' style='display:none'>
        <svg aria-hidden='true' class='gg-icon__svg'><use href='#gg-ic-check-circle-solid'/></svg>
      </span>
      <span class='gg-share-sheet__cta-label' data-gg-copy='share.action.poster'>Share as poster</span>
    </button>

    <p class='gg-share-sheet__hint' data-gg-copy='share.hint.channels'>Story sharing works best on mobile. On desktop, download the poster first.</p>

    <div aria-label='Share channels' class='gg-share-sheet__social' data-gg-copy-aria='share.aria.channels' role='group'>
      <button class='gg-share-sheet__social-btn' data-channel='copy' data-gg-copy='share.action.copyLink' type='button'>Copy link</button>
      <button class='gg-share-sheet__social-btn' data-channel='wa' type='button'>WhatsApp</button>
      <button class='gg-share-sheet__social-btn' data-channel='fb' type='button'>Facebook</button>
      <button class='gg-share-sheet__social-btn' data-channel='x' type='button'>X</button>
      <button class='gg-share-sheet__social-btn' data-channel='tg' type='button'>Telegram</button>
      <button class='gg-share-sheet__social-btn' data-channel='li' type='button'>LinkedIn</button>
      <button class='gg-share-sheet__social-btn' data-channel='mail' type='button'>Email</button>
    </div>
  </div>
</div>