 <nav aria-labelledby='gg-toc-title' class='gg-toc gg-panelcard' data-headings='h1,h2,h3,h4' id='gg-toc'>
                  <div class='gg-toc__head'>
                    <div class='gg-toc__heading' id='gg-toc-title'>
                      <span aria-hidden='true' class='material-symbols-rounded gg-toc__ico'>format_list_bulleted</span>
                      <span class='gg-toc__title' data-gg-copy='toc.title'>Table of Contents</span>
                    </div>
                  </div>
                  <div class='gg-toc__body' id='gg-toc-body'>
                    <ol aria-label='Table of contents' class='gg-toc__list' data-gg-copy-aria='toc.title' data-gg-marker='panel-post-toc'/>
                    <div class='gg-toc__empty' hidden='hidden'/>
                    <ol data-gg-slot='toc'/>
<p data-gg-slot='toc-hint'/>
                  </div>
                </nav>
                
                <nav id="gg-toc" class="gg-toc gg-panelcard" data-headings="h1,h2,h3,h4" aria-labelledby="gg-toc-title">
  <div class="gg-toc__head">
    <div class="gg-toc__heading" id="gg-toc-title">
      <span class="material-symbols-rounded gg-toc__ico" aria-hidden="true">format_list_bulleted</span>
      <span class="gg-toc__title" data-gg-copy="toc.title">Table of Contents</span>
    </div>
  </div>
  <div class="gg-toc__body" id="gg-toc-body">
    <ol class="gg-toc__list" aria-label="Table of contents" data-gg-copy-aria="toc.title" data-gg-marker="panel-post-toc"></ol>
    <div class="gg-toc__empty" hidden></div>
<ol data-gg-slot="toc"></ol>
<p data-gg-slot="toc-hint"></p>
  </div>
</nav>