 <section class='gg-library'>
            <header class='gg-library__head'>
              <h2 class='gg-library__title' data-gg-copy='library.title'>Library</h2>
              <p class='gg-library__description' data-gg-copy='library.subtitle'>Saved posts and collected reading.</p>
            </header>
            <div class='gg-library__body'>
              <div class='gg-library__empty' data-gg-copy='library.empty.title' id='gg-library-empty'>Your library is empty.</div>
              <div class='gg-library-list' id='gg-library-list'/>
            </div>
          </section>